html{}

body{
	margin:0;
}

body>div{
	background:blue;
	height: 300px;
	padding: 10px;
	
	text-align: center;
	line-height: 145px;

	display: grid;
	grid-gap: 10px;
	grid-template-columns: auto auto auto;
}

div>div{
	background:red;
	text-align: center;
}

navbar{
	display: grid;
	
	
	background: pink;
	text-align: center;
	line-height: 40px;
	height: 40px;
	grid-template-columns: 10% 70% 10% 7%;
	grid-column-gap:1%;

}

navbar>*{
	background: yellow;
}
